
.navbar, .navbar-default {
    background-color: #f8f8f8;
    border: transparent;
}

.navbar-default .navbar-nav > li > a {
    color: #23527c;
}

.navbar-nav li:hover {
    background-color: #eee;
}

section.banner .carousel-caption {
    top: 26%;
    text-shadow: none;
}

section.banner h2 {
    font-family: 'Lato', Tahoma, sans-serif;
    font-size: 68px;
    font-weight: 900;
}

section.banner p {
    color: #ffffff;
    font-size: 20px;
}

section.banner .carousel-inner .item img {
  margin: 0 auto;
}

.banner .btn {
    background-color: #00bc9c;
    color: white;
}

.banner .btn:hover {
    color: #fff;
    background-color: #398439;
}

.left.carousel-control,
.right.carousel-control,
.banner_carousel .carousel-indicators {
  opacity: 0;
  -webkit-transition: opacity 300ms;
  -moz-transition: opacity 300ms;
  -o-transition: opacity 300ms;
  transition: opacity 300ms;
}

.banner_carousel:hover .left.carousel-control,
.banner_carousel:hover .right.carousel-control,
.banner_carousel:hover .carousel-indicators {
  opacity: 1;
}
.multiCarousel:hover .left.carousel-control,
.multiCarousel:hover .right.carousel-control {
  opacity: 1;
}
.banner_carousel .carousel-indicators {
  bottom: -10px;
  left: calc(50vw - 60px);
  background-color: white;
  width: 120px;
  margin: 0 auto;
  border-radius: 4px;
  border: none;
  padding: 3px 0;
}
.banner_carousel .carousel-indicators li {
   background-color: #506a85;
}

.banner_carousel .carousel-indicators li.active {
   background-color: #00bc9c;
}

.left.carousel-control,
.right.carousel-control {
  background-image: none;
}

.left.carousel-control .glyphicon,
.right.carousel-control .glyphicon {
  border-radius: 4px;
  background-color: transparent;
}

.left.carousel-control:hover .glyphicon,
.right.carousel-control:hover .glyphicon {
  color: #00bc9c;
  background-color: #506a85;

}
.multiCarousel .carousel-inner {
  position: relative;
}
.multiCarousel a.left.carousel-control,
.multiCarousel a.right.carousel-control {
  height: 50px;
  position: absolute;
  top: 100%;
  left: 38%;
  color: #00bc9c;
  z-index: 5;
}

.multiCarousel a.right.carousel-control {
  left: 47%;
}

.multiCarousel a.left.carousel-control .glyphicon,
.multiCarousel a.right.carousel-control .glyphicon {
  background-color: #c9d2da;
  color: white;
  padding: 7px 0px;
  font-size: 14px;
}

.multiCarousel  a.left.carousel-control:hover .glyphicon,
.multiCarousel  a.right.carousel-control:hover .glyphicon {
  background-color: #506a85;
  color: #00bc9c;
}


.banner_slide {
    max-height: 730px;
}

.banner_image-overlay {
    left: 100%;
    right: 0;
}